@import "tailwindcss";
@import "./buttons.css";
@import "./embla.css";
@tailwind utilities;

@source './**/*.{js,ts,jsx,tsx,mdx,css}';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-text: #444;
  --color-light: #666;
  --color-dark: #000;
  --color-primary: #121212;
  --color-body: #fff;
  --color-border: #eaeaea;
  --color-theme-light: #f2f2f2;
  --color-theme-dark: #000;

  --color-darkmode-text: #ddd;
  --color-darkmode-light: #ddd;
  --color-darkmode-dark: #fff;
  --color-darkmode-primary: #fff;
  --color-darkmode-body: #252525;
  --color-darkmode-border: #3e3e3e;
  --color-darkmode-theme-light: #222222;
  --color-darkmode-theme-dark: #000;

  --color-accent: #4169e1;
  /* Також потрібно змінити колір у public/favicon.svg у fill=... */

  --text-base: 16px;
  --text-base-sm: calc(var(--text-base) * 0.8);

  --text-scale: 1.2;

  --text-h6: calc(var(--text-base) * var(--text-scale));
  --text-h6-sm: calc(var(--text-h6) * 0.9);

  --text-h5: calc(var(--text-h6) * var(--text-scale));
  --text-h5-sm: calc(var(--text-h5) * 0.9);

  --text-h4: calc(var(--text-h5) * var(--text-scale));
  --text-h4-sm: calc(var(--text-h4) * 0.9);

  --text-h3: calc(var(--text-h4) * var(--text-scale));
  --text-h3-sm: calc(var(--text-h3) * 0.9);

  --text-h2: calc(var(--text-h3) * var(--text-scale));
  --text-h2-sm: calc(var(--text-h2) * 0.9);

  --text-h1: calc(var(--text-h2) * var(--text-scale));
  --text-h1-sm: calc(var(--text-h1) * 0.9);

  --font-primary: Karla, sans-serif;
}

@utility subHeader {
  @apply text-light dark:text-darkmode-light text-xl;
}

@layer base {

  h1,
  h2,
  h3,
  h4 {
    @apply text-dark dark:text-darkmode-dark leading-tight font-bold tracking-wide;
  }

  h1 {
    @apply text-h1-sm md:text-h1 text-center;
  }

  h2 {
    @apply text-h2-sm md:text-h2;
  }

  h3 {
    @apply text-h3-sm md:text-h3;
  }

  h4 {
    @apply text-h4-sm md:text-h4;
  }

  a:hover {
    @apply decoration-accent underline decoration-2;
  }

  /* .btn {
    @apply inline-block cursor-pointer rounded-md border border-transparent px-5 py-2 font-medium no-underline transition;
  }

  .btn:hover {
    @apply no-underline;
  }

  .btn-sm {
    @apply px-4 py-1.5 text-sm font-medium;
  }

  .btn-lg {
    @apply px-12 py-4 text-xl;
  }

  .btn-primary {
    @apply border-primary bg-primary dark:border-darkmode-primary dark:bg-darkmode-primary dark:text-dark text-center text-white;
  }

  .btn:focus-visible {
    @apply relative shadow-lg outline-hidden transition-shadow;
    box-shadow: 0 0 2rem var(--color-accent);
  }

  .btn-outline-primary {
    @apply border-dark text-dark hover:bg-dark dark:hover:text-dark bg-transparent hover:text-white dark:border-white dark:text-white dark:hover:bg-white;
  }

  .btn-accent {
    @apply border-2 bg-accent text-white hover:scale-110 border-accent dark:bg-accent dark:text-dark dark:hover:bg-accent/70 transition-transform duration-200  font-bold;
  } */

  .section {
    @apply w-full mx-auto px-3 py-6 gap-6 lg:py-24;
  }

  .container {
    @apply px-2 py-1 lg:py-6 md:px-4 max-w-[1320px] lg:max-w-[1640px] mx-auto;
  }




  .form-input {
    @apply border-border text-dark placeholder:text-light dark:border-darkmode-border dark:bg-darkmode-theme-light dark:text-darkmode-light focus:ring-accent w-full rounded-sm border bg-transparent px-4 py-2 focus:ring focus:outline-none xl:px-6 xl:py-4;
  }

  .form-label {
    @apply text-dark dark:text-darkmode-light block font-normal max-md:text-base;
  }

  blockquote {
    @apply text-light dark:text-darkmode-light bg-theme-light dark:bg-darkmode-theme-light relative rounded-lg px-6 py-12 md:ml-8 md:px-14 md:py-20 xl:z-20;
  }

  blockquote::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 160px;
    height: 160px;
    opacity: 0.25;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 160 160' fill='none'><path d='M160 110V80H140.156H120.312V78C120.312 71.9375 122.938 64 127.031 57.7812C128.969 54.8125 134.812 48.9688 137.781 47.0312C144 42.9375 151.938 40.3125 158 40.3125H160V30.1562V20H157.25C154.281 20 148.75 20.8125 144.844 21.8438C130.25 25.5937 117 35.3125 109.062 48.0937C104.656 55.2187 102 62.3437 100.594 70.9375C100.062 74.2812 100 76.7188 100 107.281V140H130H160L160 110Z' fill='%23D9D9D9'/><path d='M60 110L60 80H40.1562H20.3125V78C20.3125 71.9375 22.9375 64 27.0312 57.7812C28.9687 54.8125 34.8125 48.9688 37.7812 47.0312C44 42.9375 51.9375 40.3125 58 40.3125H60V30.1562V20H57.25C54.2812 20 48.75 20.8125 44.8438 21.8438C30.25 25.5937 17 35.3125 9.0625 48.0937C4.65625 55.2187 2 62.3437 0.59375 70.9375C0.0625 74.2812 0 76.7188 0 107.281V140H30H60V110Z' fill='%23D9D9D9'/></svg>");
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
  }

  ul {
    @apply mb-4 list-inside list-disc;
  }

  ol {
    @apply mb-4 list-inside list-decimal;
  }

  li {
    @apply mb-1;
  }
}