.embla {
  margin: auto;
  --slide-spacing: 1.5rem;
  
  --slide-size: 100%;
  @media (min-width: 768px) {
    --slide-size: 50%;
  }
  @media (min-width: 1024px) {
    --slide-size: 33%;
  }
  @media (min-width: 1280px) {
    --slide-size: 25%;
  }
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  align-items: center;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  justify-content: center; 
  align-items: center;
}
